<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="/img/apple.jpg">
    </div>

    {{>footer}}

</body>

</html>